.homeTools{
  .homeTools--row{
    padding: $pd-1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    .homeTools-item{
      border-right: 1px solid #ced4da;
      select{
        border: none;
        &:focus{
          box-shadow: none;
        }
      }
      .dropdown{
        button{
          color: #495057;
          width: 100%;
          padding-right: 20px;
          text-align: left;
          position: relative;
          box-shadow: none;
          &::after{
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            margin-left: 0;
            vertical-align: 0;
          }
        }
        .dropdown-item{
          cursor: pointer;
          &:hover{
            background-color: #60c5ef;
            color: #fff;
          }
        }
        
      }
    }
    .homeTools--btnBuy{
      text-align: center;
      button{
        width: 100%;
      }
      
    }
    
  }
}